body
{
    padding: 10px;
}

main.container
{
    background-color: #e1e1d0;
    width: 701px;
    height: 400px;
    border: 1px solid black;
    border-radius: 5px;
    float: left;
}

aside.left-section
{
    background-color: #e6f2ff;
    width: 250px;
    font-family: Arial;
    float: left;
    border-right: 1px solid black;
    height: 400px;
    position: relative;
}

header.left-section-header
{
    width: 210px;
    padding: 20px;
    float: left;
    border-bottom: 1px solid black;
}

header.left-section-header .name-job
{
    margin-top: -40px;
    margin-left: 50px;
}

article.left-section-category
{
    width: 210px;
    padding: 0px 20px;
    float: left;
}

footer.left-section-button
{
    width: 220px;
    padding: 15px;
    float: left;
    border-top: 1px solid black;
    position: absolute;
    bottom: 0;
}

article.right-section
{
    float: left;
    width: 450px;
    height: 400px;
    font-family: Arial;
    position: relative;
}

section.activity-list
{
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

article.activity
{
    width: 410px;
    padding: 50px 20px 0px;
}

footer.activity-navigation
{
    background-color: white;
    padding: 20px;
    width: 410px;
    position: absolute;
    bottom: 0;
}

span.name
{
    text-transform: uppercase;
}

span.job
{
    color: gray;
}

span.deadline
{
    float: right;
}

span.deadline-green
{
    float: right;
    color: green;
}

span.deadline-red
{
    float: right;
    color: red;
}

.profile-picture
{
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

h4
{
    text-transform: uppercase;
}

h2
{
    border-bottom: 1px solid black;
}

h3
{
    border-bottom: 1px solid red;
}

.popup-btn
{
    float: right;
    
}

.modal 
{
    display: none;
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    font-family: Arial;
}

.modal-content 
{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.close 
{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,.close:focus 
{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

a 
{
    text-decoration: none;
    color: black;
}

.button 
{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    font-size: 20px;
}

.add-btn 
{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid black;
}

.clear-btn 
{
    background-color: rgb(236, 10, 10);
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid black;
}

.search
{
    font-size: 16px;
    border-radius: 5px;

}

ul 
{
    list-style-type: none;
    padding-left: 0;
}

li
{
    margin-bottom: 10px;
}

li.done
{
    margin-bottom: 10px;
    color: grey;
}
